@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400&family=Prompt:wght@400;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  /* Fonts */
  --font-family-headline: "Prompt", sans-serif;
  --font-family-text: "Karla", sans-serif;

  /* Color  */
  --color-primary: #000b3e;
  --color-secondary: #ffe67d;
  --color-background-header: #b5abff;
  --color-background-cards: #3b3f54;
  --color-signal: #fe9670;
  --color-text: white;
}

header {
  font-family: var(--font-family-headline);
  color: var(--color-primary);
  background-color: var(--color-background-header);
  padding: 1rem;
  text-align: center;
}

body {
  margin: 0;
  background-color: var(--color-primary);
  font-family: var(--font-family-text);
}

main {
  color: var(--color-text);
  padding: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--color-background-header);
  color: var(--color-primary);
  width: 100vw;
  padding: 1rem;
  font-size: 0.75rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headline);
}

.cardElement {
  background-color: var(--color-background-cards);
  border-radius: 0.5rem;
  padding: 1rem;
}
