main {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
  gap: 2rem;
}

.card {
  padding: 1rem;
  background: var(--color-background-cards);
  display: grid;
  grid-template-columns: 40% 60%;
  border-radius: 1rem;
}

.textWrapper {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  gap: 2rem;
}

h2 {
  margin: 0rem;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  line-height: 2.8rem;
}

.status {
  font-size: 1.2rem;
  font-weight: 800;
}

.preline {
  opacity: 50%;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.content {
  font-size: 1.2rem;
}
