.card {
  padding: 1rem;
  background: var(--color-background-cards);
  display: grid;
  grid-template-columns: 40% 60%;

  border-radius: 1rem;
  gap: 1rem;
}

.textWrapper {
  display: grid;
  gap: 2rem;
}
